::-webkit-scrollbar {
  width: 7px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.08);
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.12);
}
