input,
textarea {
  border: 1px solid var(--grey-dark);
  color: var(--text-dark);
  font-size: 14px;
}

input {
  padding: 15px 10px;
  width: 100%;
}

input:focus {
  outline-color: var(--primary);
}

input::placeholder {
  color: var(--text-light);
}

textarea {
  padding: 10px;
  width: 100%;
}

label {
  color: var(--text-dark);
  font-size: 14px;
}
