:root {
  --primary: #778bd9;

  --bg: #f7f7f7;
  --list-bg: #ebebeb;

  --text-light: #878787;
  --text-dark: #616161;
  --text-red: #e42b35;

  --white: #fff;
  --blue: #8bb5f2;
  --red: #fb6e78;
  --green: #a7dd7d;
  --yellow: #fed956;
  --purple: #b39ce7;
  --pink: #ff89c7;

  --grey: #e5e5e5;
  --grey-dark: #dbdbdb;
}
