:root {
  --primary: #778bd9;

  --bg: #f7f7f7;
  --list-bg: #ebebeb;

  --text-light: #878787;
  --text-dark: #616161;
  --text-red: #e42b35;

  --white: #fff;
  --blue: #5592eb;
  --red: #fa5b66;
  --green: #97d665;
  --yellow: #fdd958;
  --purple: #9a7bdf;
  --pink: #ff6bb8;

  --grey: #e5e5e5;
  --grey-dark: #dbdbdb;
}
